.resume-body {
  p {
    margin: 0;
  }

  .resume-aside {
    padding: 0 15px 0 5%;
    float: left;
    width: 20%;

    p.topic {
      font-size: .7em;
      font-weight: 500;
      text-transform: uppercase;
    }

    .subsection {
      &:after {
        content: "";
        display: block;
        width: 100%;
        margin: 15px 0 0 0;
      }

      h1.title {
        margin: 0;
        font-size: .5em;
        font-weight: 400;
        text-transform: uppercase;
      }

      p.description {
        margin: 0;
        font-size: .37em;
        font-weight: 300;

        a {
          text-decoration: none;
          color: $hyperlink-blue;

          &:visited {
            color: $hyperlink-blue;
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .resume-main {
    padding: 0 5% 0 5%;
    float: left;
    width: 60%;

    p.topic {
      font-size: .7em;
      font-weight: 500;
      text-transform: uppercase;
    }

    .subsection {
      &:after {
        content: "";
        display: block;
        width: 100%;
        margin: 15px 0 0 0;
      }

      ul.job {
        margin: .12em 0;
        padding: 0;
        list-style-type: none;

        li {
          margin: .12em 0;
          padding: 0;

          ul:nth-child(1) {
            margin: .12em 0;
            padding: 0;

            line-height: 0px;
            font-size: .5em;
            list-style-type: none;

            li {
              display: inline;
              &:first-child {
                text-transform: uppercase;
                font-weight: 800;

                &:after {
                  content: " \2223 ";
                  font-size: 1.5em;
                  font-weight: 100;
                }
              }

              &:last-child {
                text-transform: capitalize;
              }
            }
          }

          ul:nth-child(2) {
            padding: 0;
            font-size: .42em;
            list-style-type: none;

            li {
              display: inline;

              &:first-child {
                text-transform: uppercase;
                font-weight: 500;

                &:after {
                  content: " \2223 ";
                  font-size: 1.5em;
                }
              }

              &:last-child {
                text-transform: capitalize;
              }
            }
          }

          ul:nth-child(3) {
            font-size: .38em;

            li {
              margin: .12em 0;
              list-style-type: disc;
            }
          }
        }
      }

      ul.project-list {
        margin: .12em 0;

        font-size: .38em;

        li {
          margin: .12em 0;
          list-style-type: disc;
        }
      }

      h1.title {
        margin: 0;
        font-size: .5em;
        font-weight: 800;
        text-transform: uppercase;

        a {
          text-decoration: none;
          color: $hyperlink-blue;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      p.description {
        margin: 0;
        font-size: .38em;
        font-weight: 300;
      }
    }
  }
}

