$white: #fff;
$gray: #eee;
$shadow: #ddd;
$black: #000;
$blue: #4d4dff;

body {
  background: $gray;
  font: 36px Roboto, sans-serif;
}

.resume {
  width: 960px;
  background: $white;
  margin: 15px auto;
  box-shadow: 5px 5px 5px $shadow;

  .resume-header {
    &:after {
      content: "";
      display: block;
      height: 2px;
      width: 100%;
      background: $black;
      margin: 15px 0 0 0;
    }

    padding: 15px 0 15px 0;
    text-align: center;

    a {
      text-decoration: none;
    }

    .author {
      font-size: 1em;
      margin: 0;
    }

    .author-metadata {
      font-size: .5em;
      margin: 0;
    }
  }
}

.resume-body {
  p {
    margin: 0;
  }

  .resume-aside {
    float: left;
    width: 20%;
  }

  .resume-main {
    float: left;
    width: 80%;
  }
}

/*
 * This one is really cool to know when floating items.
 * Need this to combat zero-height container problems.
 */
.clearfix {
  zoom: 1;

  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }

  &:after {
    clear: both;
  }
}

a.pdf-download {
  position: fixed;
  bottom: 50px;
  right: 50px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: $white;
  font-size: .35em;
  background-color: $blue;
  padding: 5px;
  box-shadow: 5px 5px 5px $shadow;

  &:hover {
    transform: scale(1.1);
  }

  &:visited {
    color: $white;
  }
}
