/* MDL class additions */
.resume-card {
  margin: 10px auto 10px auto;
}

.resume-card h1.mdl-card__title-text {
  font-size: 32px;
}

.nav-flex {

}

/* Header */
header {
  text-align: center;
}

/* Footer */
footer {
  text-align: center;
}

/* Other */
.social-link {
  text-transform: uppercase;
}
